welcome {
  font-size: 20;
  text-align: center;
  margin: 10;
}
container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: red;
}
instructions {
  text-align: center;
  color: #333333;
  margin-bottom: 5;
}